*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    display:flex;
    flex-direction: column;
    padding: 0;
    margin:0;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

a{
    text-decoration:none;
    color: #F1FAEE;
}

.header{
    display:flex;
    justify-content: space-around;
    background-color:#1D3557;
    margin: 0;
    color:#F1FAEE;
    padding: 14px;
}

.logo{
    font-size: 24px;
}

.header ul{
    display:flex;
    gap: 30px;
    color:#F1FAEE;
    align-items:center;
}

.hero{
    display:flex;
    background-color: #1D3557;
    color: #ffffff;
    justify-content: space-around;
    align-items:center;
    padding:150px 80px 150px 80px;
}

.hero-title{
    width:400px;
}

.image img{
    width: 400px;
}

.title h1{
    margin-bottom: 20px;
    font-weight:dark;
}

.title p{
    margin-bottom: 15px;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

.information{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.servicios{
    display:flex;
    justify-content: space-evenly;
}

.servicio{
    display:flex;
    flex-direction:column;
}